attrs==19.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
idna==2.9
pkg-resources==0.0.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==19.1.0
pyTelegramBotAPI==3.6.7
requests==2.23.0
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
TelegramBotAPI==0.3.2
urllib3==1.25.8
